<?xml version="1.0"?>
<config>
    <modules>
        <Bigento_Tva20>
            <version>0.1.0</version>
        </Bigento_Tva20>
    </modules>
    <global>
        <models>
            <bgtva20>
                <class>Bigento_Tva20_Model</class>
            </bgtva20>
        </models>
        <blocks>
            <bgtva20>
                <class>Bigento_Tva20_Block</class>
            </bgtva20>
        </blocks>
        <helpers>
            <bgtva20>
                <class>Bigento_Tva20_Helper</class>
            </bgtva20>
        </helpers>
    </global>
    <admin>
        <routers>
            <bgtva20>
                <use>admin</use>
                <args>
                    <module>Bigento_Tva20</module>
                    <frontName>bgtva20</frontName>
                </args>
            </bgtva20>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bigento_tva20>
                    <file>bigento_tva20.xml</file>
                </bigento_tva20>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <bgtva20_now>
                <schedule>
                    <cron_expr>1 0 1 1 *</cron_expr>
                </schedule>
                <run>
                    <model>bgtva20/cron::apply</model>
                </run>
            </bgtva20_now>
        </jobs>
    </crontab>
</config>
