<?xml version="1.0"?>
<config>
    <modules>
        <Miura_ProductAttribute>
            <version>1.0.0</version>
        </Miura_ProductAttribute>
    </modules>
    <frontend>
        <routers>
            <ProductAttribute>
                <use>standard</use>
                <args>
                    <module>Miura_ProductAttribute</module>
                    <frontName>productattribute</frontName>
                </args>
            </ProductAttribute>
        </routers>
        <layout>
            <updates>
                <ProductAttribute>
                    <file>Miura/ProductAttribute.xml</file>
                </ProductAttribute>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <producthome_setup>
                <setup>
                    <module>Miura_ProductAttribute</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </producthome_setup>
            <producthome_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </producthome_write>
            <producthome_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </producthome_read>
        </resources>
        <blocks>
            <ProductAttribute>
                <class>Miura_ProductAttribute_Block</class>
            </ProductAttribute>
        </blocks>
    </global>
</config>
